/bin
/build
.buildpath
.classpath
/.settings
.project
*.log
log4j.properties
.externalToolBuilders/
Test.java
*.xml
*.prefs
.metadata
.directory
.idea
BTCL.iml
crm.sql
/WebContent/WEB-INF/lib/*
/WebContent/WEB-INF/classes/*
src/DBML.properties
src/DBMR.properties
src/DBMR.properties.local
src/DBMW.properties